{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container text-xs-center">
        <div class="jumbotron jumbotron-fluid bg-success">
            <div class="container text-sm-center">
                <h2 class="display-2">Login</h2>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="btn btn-success btn-lg">
        </form>
    </div>
{% endblock %}