{% extends 'layout.html' %}

{% block title %}{{ vrpage }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">{{ vrpage }}</h2>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">VR Page Name</th>
                    <td>{{ vrpage }}</td>
                </tr>
                <tr>
                    <th scope="row">Email Address</th>
                    <td>{{ vrpage.email_address }}</td>
                </tr>
                <tr>
                    <th scope="row">Email Username</th>
                    <td>{{ vrpage.email_username }}</td>
                </tr>
                <tr>
                    <th scope="row">Email Password</th>
                    <td>{{ vrpage.email_password }}</td>
                </tr>
                <tr>
                    <th scope="row">Email Server</th>
                    <td>{{ vrpage.email_server }}</td>
                </tr>
                <tr>
                    <th scope="row">Email From Name</th>
                    <td>{{ vrpage.email_from_name }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'vrpages:vrpages_list' %}" role="button">Go Back</a>
        <a class="btn btn-success" href="{% url 'vrpages:update_vrpage' pk=vrpage.pk %}" role="button">Edit</a>
        <a class="btn btn-danger" href="#" role="button">Delete</a>
    </div>
{% endblock %}