{% extends 'layout.html' %}

{% block title %}VR Pages{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">VR Pages List</h2>
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>VR Page Name</th>
                    <th>Email Address</th>
                    <th>Email Username</th>
                    <th>Email Password</th>
                    <th>Email Server</th>
                    <th>Email From Name</th>
                </tr>
            </thead>
            <tbody>
                {% for vrpage in vrpages %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'vrpages:vrpage_detail' pk=vrpage.pk %}">{{ vrpage }}</a></td>
                    <td>{{ vrpage.email_address }}</td>
                    <td>{{ vrpage.email_username }}</td>
                    <td>{{ vrpage.email_password }}</td>
                    <td>{{ vrpage.email_server }}</td>
                    <td>{{ vrpage.email_from_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{% url 'vrpages:create_vrpage' %}" role="button">Add VR Page</a>
    </div>
{% endblock %}